/*————————————————————————————————————————

- DSGNR Buttons aspect

If you don't know what you are doing,
please do not change anything here !

————————————————————————————————————————*/
.btn {
	border-radius: 0;
	background: $dsgnr-black-color;
	color: $dsgnr-white-color;
	border: 1px solid $dsgnr-black-color;
	@include transition(all $transition-duration);

	&:hover {
		cursor: pointer;
		background-color: transparent;
		color: $dsgnr-black-color;
	}

	@each $id, $color in $colors {
		&.btn-#{$id} {
			background-color: $color;
			border-color: $color;
			&:hover {
				background-color: desaturate(darken($color, 15%), 30%);
				color: $dsgnr-white-color;
			}
		}
		&.btn-#{$id}-text {
			background-color: transparent;
			border-color: transparent;
			font-weight: 500;
			color: $color;
			&:hover {
				color: desaturate(darken($color, 15%), 30%);
				background-color: transparent;
			}
		}
		&.btn-#{$id}-outline {
			background: transparent;
			border: 1px solid;
			border-color: $color;
			color: $color;
			&:hover {
				background-color: $color;
				color: $dsgnr-white-color; // Default value
			}
		}
	}

	/*
	* Exceptions
	*/
	&.btn-white-outline:hover { color: $dsgnr-black-color; }
	&.btn-white { color: $dsgnr-black-color; }
	&.btn-black:hover { background-color: $dsgnr-dark-color;}
	&.btn-black-text { padding-left: .75rem; padding-right: .75rem; &:hover { background-color: $dsgnr-light-color; }}
}