/*————————————————————————————————————————

- DSGNR Global variables

If you don't know what you are doing,
please do not change anything here !

————————————————————————————————————————*/
$dsgnr-primary-color: #623CEA;
$dsgnr-secondary-color: #FF6978;
$dsgnr-dark-color: #2D3142;
$dsgnr-medium-color: #CECECE;
$dsgnr-light-color: #EFEFEF;
$dsgnr-black-color: #000000;
$dsgnr-white-color: #FFFFFF;

$colors: (
    primary: $dsgnr-primary-color,
    secondary: $dsgnr-secondary-color,
    dark: $dsgnr-dark-color,
    medium: $dsgnr-medium-color,
    light: $dsgnr-light-color,
    black: $dsgnr-black-color,
    white: $dsgnr-white-color
);

/*
** Transition
*/
$transition-duration: 0.2s;
$transition-md-duration: .4s;
$transition-lg-duration: .6s;
$transition-xl-duration: 1.4s;
$transition-property: ease;


/*
** Fonts Size and family
*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

$primary-font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
$secondary-font-family: 'Playfair Display', sans-serif;

$font-sizes: (
    default: 18px,
    xs: 13px,
    sm: 16px,
    lg: 20px,
);

$h1-font-sizes: (
    default: 84px,
    xs: 60px,
    sm: 72px,
    md: 84px,
    lg: 84px,
    xl: 84px
);

$font-weights: (
    default: 400, regular: 400,
    medium: 500,
    bold: 700, strong: 700,
    black: 900,
)